@model IEnumerable<PBL3.Models.Model_View.ThongKeSanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thống kê</h2>
<table class="table">
    <tr>
        <th>
            Tổng doanh thu
        </th>
        <td>
            @ViewBag.total
        </td>
        <td></td>
    </tr>
    <tr>
        <th>
            Doanh thu năm nay
        </th>
        <td>
            @ViewBag.yeartotal
        </td>

    </tr>

    <tr>
        <th>
            Doanh thu ngày hôm nay
        </th>
        <td>
            @ViewBag.datetotal
        </td>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>
                @item.TenSP
            </th>
            <td>
                @item.SoLuong
            </td>

        </tr>
    }

</table>

