@model IEnumerable<PBL3.Models.Model_View.ThongKeSanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thống kê</h2>
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-12">
        <div class="white-box analytics-info" style="background: #CCFFFF; height: 90px;">
            <h4 class="box-title" style="color: black">Tổng doanh thu</h4>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
                <li>
                    <div id="sparklinedash">
                        <canvas width="67" height="30"
                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                    </div>
                </li>
                <li class="ms-auto"><span class="counter text-success"> @ViewBag.total</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="white-box analytics-info" style="background: #CCFFFF; height: 90px;">
            <h4 class="box-title" style="color: black">Doanh thu hôm nay</h4>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
                <li>
                    <div id="sparklinedash2">
                        <canvas width="67" height="30"
                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                    </div>
                </li>
                <li class="ms-auto"><span class="counter text-purple">@ViewBag.datetotal</span></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-4 col-md-12">
        <div class="white-box analytics-info" style="background: #CCFFFF; height: 90px;">
            <h4 class="box-title" style="color: black">Hóa đơn chưa xác nhận</h4>
            <ul class="list-inline two-part d-flex align-items-center mb-0">
                <li>
                    <div id="sparklinedash3">
                        <canvas id="canvas" width="67" height="30"
                                style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                    </div>
                </li>
                <li class="ms-auto">
                    <span class="counter text-info"> @ViewBag.sohoadon</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');
    const listlabels = @Html.Raw(Json.Encode(Model.Select(p => p.TenSP).ToList()));
    const listdatas = @Html.Raw(Json.Encode(Model.Select(p => p.SoLuong).ToList()));
    new Chart(ctx, {
        type: 'bar',
        data: {
            datasets: [{
                label: '',
                data: listdatas,
            }],
            labels: listlabels,
        },
        options: {
            indexAxis: 'y',

            elements: {
                bar: {
                    borderWidth: 0.2,
                }
            },
            responsive: true,
            plugins: {
                legend: {

                    position: 'right',
                },
                title: {
                    display: true,
                    text: 'Các mặt hàng bán được'
                }
            }
        },
    });
</script>
<script src="~/plugins/bower_components/chartist/dist/chartist.min.js"></script>
<script src="~/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<script src="~/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
<script>

    $(function () {
        "use strict";


        var chart = [chart];

        var sparklineLogin = function () {
            $('#sparklinedash').sparkline([0, 5, 6, 10, 9, 12, 4, 9], {
                type: 'bar',
                height: '30',
                barWidth: '4',
                resize: true,
                barSpacing: '5',
                barColor: '#7ace4c'
            });
            $('#sparklinedash2').sparkline([0, 5, 6, 10, 9, 12, 4, 9], {
                type: 'bar',
                height: '30',
                barWidth: '4',
                resize: true,
                barSpacing: '5',
                barColor: '#7460ee'
            });
            $('#sparklinedash3').sparkline([0, 5, 6, 10, 9, 12, 4, 9], {
                type: 'bar',
                height: '30',
                barWidth: '4',
                resize: true,
                barSpacing: '5',
                barColor: '#FF0000'
            });

        }
        var sparkResize;
        $(window).on("resize", function (e) {
            clearTimeout(sparkResize);
            sparkResize = setTimeout(sparklineLogin, 500);
        });
        sparklineLogin();
    });



</script>

