@model IEnumerable<PBL3.Models.Model_View.ThongKeSanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thống kê</h2>
<table class="table">
    <tr>
        <th>
            Tổng doanh thu
        </th>
        <td>
            @ViewBag.total
        </td>
        <td></td>
    </tr>
    <tr>
        <th>
            Doanh thu năm nay
        </th>
        <td>
            @ViewBag.yeartotal
        </td>
        @if (ViewBag.yeartotal >= ViewBag.preyeartotal && ViewBag.preyeartotal != 0)
        {
            <td>Tăng @(((double)ViewBag.yeartotal/(double)ViewBag.preyeartotal)*100)</td>
        }
        else if (ViewBag.yeartotal < ViewBag.preyeartotal && ViewBag.preyeartotal != 0)
        {
            <td>Giảm @(((double)ViewBag.yeartotal/(double)ViewBag.preyeartotal)*100)</td>
        }
        else
        {
            <td> 0 </td>
        }
    </tr>

    <tr>
        <th>
            Doanh thu ngày hôm nay
        </th>
        <td>
            @ViewBag.datetotal
        </td>

    </tr>


</table>
<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');
    const listlabels = @Html.Raw(Json.Encode(Model.Select(p => p.TenSP).ToList()));
    const listdatas = @Html.Raw(Json.Encode(Model.Select(p => p.SoLuong).ToList()));
    new Chart(ctx, {
        type: 'bar',
        data: {
            datasets: [{
                label: '',
                data: listdatas,
            }],
            labels: listlabels,
        },
        options: {
            indexAxis: 'y',

            elements: {
                bar: {
                    borderWidth: 0.2,
                }
            },
            responsive: true,
            plugins: {
                legend: {
                    
                    position: 'right',
                },
                title: {
                    display: true,
                    text: 'Cách mặt hàng bán được'
                }
            }
        },
    });
</script>

